<div class='panel panel-default'>
  <div class='panel-heading'>
    <div class='panel-title'>
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= score_card.id %>">
      By <%= score_card.volunteer.name %> @ <%= score_card.created_at.to_s(:short) %> </a>
    </div>
  </div>
  <div id="collapse<%= score_card.id %>" class="panel-collapse collapse">
    <div class='panel-body'>
      Engagement / Esfuerzo: <%= score_card.engagement%><br>
      Preparedness/ Preparación: <%= score_card.preparedness%><br>
      Attention / Actitud: <%= score_card.attention%><br>
      Overall / General: <%= score_card.overall%><br>
      Note / Comentarios: <%= score_card.note%>
    </div>
  </div>
</div>