<h3> <%= @user.name %> </h3>
<% if not @user.grade.nil? %> Grade: <%= @user.grade %><br> <% end %>
ID: <%= @user.ID_num %><br>
Address: <%= @user.address %><br>
Phone: <%= @user.phone %><br>
<% if not @user.session.nil? %> Session: <%= @user.session %><br> <% end %>
Email: <%= @user.email %><br>
<% if not @user.specialization.nil? %> Specialization: <%= @user.specialization %><br> <% end %>
<% if not @user.interest.nil? %> Interest: <%= @user.interest %><br> <% end %>
<% if not @user.note.nil? %> Notes: <%= @user.note %><br> <% end %>