<% provide(:title, 'All users') %>
<div class='page-header'>
  <h3>Admin - All users</h3>
</div>
<ul class="nav nav-tabs nav-append-content">
  <li class='active'><a href='#volunteers' data-toggle="tab">Volunteers</a></li>
  <li><a href='#students' data-toggle="tab">Students</a></li>
  <li><a href='#parents' data-toggle="tab">Parents</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade in active" id="volunteers">
    <div class="list-group">
      <%= render partial:'user_list', collection: @volunteers, as: :user %>
    </div>
    <%= will_paginate @volunteers%>
  </div>
  <div class="tab-pane fade" id="students">
    <div class="list-group">
      <%= render partial:'user_list', collection: @students, as: :user %>
    </div>
    <%= will_paginate @students%>
  </div>
  <div class="tab-pane fade" id="parents">
    <div class="list-group">
      <%= render partial:'user_list', collection: @parents, as: :user %>
    </div>
    <%= will_paginate @parents%>
  </div>
</div>