<% provide(:title, 'All users') %>
<h1>All users</h1>
<ul class="nav nav-tabs nav-justified">
  <li class='active'><a href='#volunteers' data-toggle="tab">Volunteers</a></li>
  <li><a href='#students' data-toggle="tab">Students</a></li>
  <li><a href='#parents' data-toggle="tab">Parents</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade in active" id="volunteers">
    <ul class="users">
      <%= render @users %>
    </ul>
    <%= will_paginate %>
  </div>
  <div class="tab-pane fade" id="students">
    <ul class="users">
      <%= render @users %>
    </ul>
    <%= will_paginate %>
  </div>
  <div class="tab-pane fade" id="parents">
    <ul class="users">
      <%= render @users %>
    </ul>
    <%= will_paginate %>
  </div>
</div>