<% provide :title, @title %>
<%= stylesheet_link_tag 'jquery.jqplot' %>
<%= javascript_include_tag 'jquery.jqplot' %>
<%= javascript_include_tag 'jqplot.dateAxisRenderer' %>
<%= javascript_include_tag 'jqplot.pieRenderer' %>

<div class='page-header'>
  <h3> <%= @user.name %> 
  <span class="label label-primary"><%= @user.class %> </span></h3>
</div>

<ul class="nav nav-tabs nav-append-content" id='profile_tab'>
  <li class='active'><a href='#profile' data-toggle="tab">Profile / Perfile</a></li>
  <% case @user.class.to_s %>
    <% when "Student" %>
      <li><a href='#score_cards' data-toggle="tab">Score Cards / Boleta de Calificaciones </a></li>
      <li><a href='#authorized' data-toggle="tab">Authorized Adults / Padres</a></li>
      <li><a href='#attendance' id='attendance_tab' data-toggle="tab">Attendance/ Asistencia</a></li>
      <li><a href='#stats' id='stats_tab' data-toggle="tab">Statistics / Estadística</a></li>
    <% when "Volunteer" %>
      <li><a href='#authorized' data-toggle="tab">Students / Estudiantes</a></li>
      <li><a href='#attendance' id='attendance_tab' data-toggle="tab">Attendance / Asistencia</a></li>
      <li><a href='#stats' id='stats_tab' data-toggle="tab">Statistics / Estadística</a></li>
    <% when "Parent" %>
      <li><a href='#authorized' data-toggle="tab">Children / Hijos</a></li>
  <% end %>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="profile">
    <% if not @user.grade.nil? %> 
    <div class='row'>
    <div class='col-xs-2'>Grade / Grado: </div>
    <div class='col-xs-10'> <%= @user.grade %> </div> 
    </div> <% end %>

    <div class='row'>
    <div class='col-xs-2'>ID: </div>
    <div class='col-xs-10'><%= @user.ID_num %></div>
    </div>

    <div class='row'>
    <div class='col-xs-2'>Address / Direción: </div>
    <div class='col-xs-10'><%= @user.address %></div>
    </div>

    <div class='row'>
    <div class='col-xs-2'>Phone / Teléfono: </div>
    <div class='col-xs-10'><%= @user.phone %></div>
    </div>

    <div class='row'>
    <div class='col-xs-2'>Email / Correo Electrónico: </div>
    <div class='col-xs-10'><%= @user.email %></div>
    </div>

    <% if not @user.session.nil? %> <div class='row'>
    <div class='col-xs-2'>Session / Sesión: </div>
    <div class='col-xs-10'><%= @user.session %></div>
    </div> <% end %>

    <% if not @user.specialization.nil? %> <div class='row'>
    <div class='col-xs-2'>Specialization / Especialización: </div>
    <div class='col-xs-10'><%= @user.specialization %></div>
    </div> <% end %>

    <% if not @user.interest.nil? %> <div class='row'>
    <div class='col-xs-2'>Interests / Intereses: </div>
    <div class='col-xs-10'><%= @user.interest %></div>
    </div> <% end %>

    <% if not @user.note.nil? %> <div class='row'>
    <div class='col-xs-2'>Notes / Notas: </div>
    <div class='col-xs-10'><%= @user.note %></div>
    </div> <% end %>
    <%= link_to "Edit", edit_user_path , class:'btn btn-warning'%>
  </div>
  
  <div class="tab-pane fade" id="score_cards">
    <div class="panel-group" id="accordion">
      <% if current_user.is_a?(Volunteer) %>
        <%= render partial:'score_cards/score_card_form' ,collection: current_user.students, as: :student %>
        <%= will_paginate current_user.students.paginate(page: params[:page])%>
      <% elsif @user.is_a?(Student) %>
        <%= render @user.score_cards%>
        <%= will_paginate @user.score_cards.paginate(page: params[:page])%>
      <% end %>
    </div>
  </div>
  
  <div class="tab-pane fade" id="attendance">
    <%= calendar @attendances do |a| %>
      <span class="fui-check"></span>
    <% end %>
  </div>
  
  <div class="tab-pane fade" id="authorized">
    <% if @user.is_a?(Parent) %>
      <% users = @user.children %>
    <% elsif @user.is_a?(Student) %>
      <% users = @user.parents %>
    <% elsif @user.is_a?(Volunteer) %>
      <% users = @user.students %>
    <% end %>
    <div class="list-group">
      <%= render partial:'user_list', collection: users, as: :user %>
    </div>
  </div>
  
  <div class="tab-pane fade" id="stats">
    <% if @user.is_a?(Student) or @user.is_a?(Volunteer) %>

    <% end %>
    <% if @user.is_a?(Student) or @user.is_a?(Volunteer)%>
      <div class='row'>
        <div class='col-md-10 col-md-offset-1'>
          <div class='chart' id='attendance_chart' ></div>
        </div>
      </div>
   <% end %>
   <% if @user.is_a?(Student) %>
      <div class='row'>
        <div class='col-md-4'>
          <div id='subject_chart'></div>
        </div>
        <div class='col-md-4'>
          <div id='dropoff_chart'></div>
        </div>
        <div class='col-md-4'>
          <div id='pickup_chart'></div>
        </div>
    <% end %>
  </div>
</div>

<script>
  $('h2').replaceWith("<h4 class='text-center'>" + $('h2').html() + "</h4>" )
  $('.previous-month').html('<span class="fui-arrow-left"></span>   ')
  $('.next-month').html('    <span class="fui-arrow-right"></span>')
  $(function () {
    $("#profile_tab a#stats_tab").on('shown.bs.tab', function (e) {
      var dropoffs=[<% @attendances.each do |a| %>[
      '<%=a.dropoff_time.in_time_zone('America/Los_Angeles').to_date %>',
      '<%= a.dropoff_time.in_time_zone('America/Los_Angeles').to_s(:time) %>'],<% end %>]
      var pickops=[<% @attendances.each do |a| %>[
      '<%=a.pickup_time.in_time_zone('America/Los_Angeles').to_date %>',
      '<%= a.pickup_time.in_time_zone('America/Los_Angeles').to_s(:time) %>'],<% end %>]

      var attendance_chart = $.jqplot('attendance_chart', [dropoffs, pickops], {
        title:'Arrival and Departure Times / La Horas de Llegada y Salida',
        grid: {shadow:false},
        legend: { show:true, location: 'ne',xoffset: 52, },
        series: [ {label:'Llegada'},{label:'Salida'}
        
        ],
        axes:{xaxis:{renderer:$.jqplot.DateAxisRenderer},
              yaxis:{renderer:$.jqplot.DateAxisRenderer,
                      tickOptions:{formatString:'%R'}}}
      });
      <% if @user.is_a?(Student) %>
      var subjects=[<% Subject.all.each_with_index do |s,i| %>["<%= s.name %>",<%=@attendances.select{|a| a[:subject_id] == s.id}.count%>], <% end %>]
      var subject_pie = jQuery.jqplot ('subject_chart', [subjects], 
      { 
        title: 'Subjects / Temas',
        grid: {shadow:false},
        seriesDefaults: {
          renderer: jQuery.jqplot.PieRenderer, 
          rendererOptions: {
            showDataLabels: true
          }
        }, 
        legend: { show:true, location: 'e' }
      })
      
      
      var dropoffs=[<% @attendances.uniq{|x| x.dropoff_id}.first(3).each do |d| %>[
      "<%=d.dropoff.name%>",
      <%= @attendances.select{|a| a[:dropoff_id] == d.dropoff.id}.count%>], <%end %>]
      var dropoff_pie = jQuery.jqplot ('dropoff_chart', [dropoffs], 
      { 
        title: 'Who Dropped Off / Quien Bajar',
        grid: {shadow:false},
        seriesDefaults: {
          renderer: jQuery.jqplot.PieRenderer, 
          rendererOptions: {
            showDataLabels: true
          }
        }, 
        legend: { show:true, location: 'e' }
      })
      
      var pickups=[<% @attendances.uniq{|x| x.pickup_id}.first(3).each do |d| %>[
      "<%=d.pickup.name%>",
      <%= @attendances.select{|a| a[:pickup_id] == d.pickup.id}.count%>], <%end %>]
      var pickup_pie = jQuery.jqplot ('pickup_chart', [pickups], 
      { 
        title: 'Who Picked Up / Quien Ligarse',
        grid: {shadow:false},
        seriesDefaults: {
          renderer: jQuery.jqplot.PieRenderer, 
          rendererOptions: {
            showDataLabels: true
          }
        }, 
        legend: { show:true, location: 'e' }
      })
      <% end %>
  
    })
    <% if not params[:year].nil? %>
      $('#profile_tab a#attendance_tab').tab('show')
    <% end %>
  })
</script>
