<% provide :title, @title %>
<script src='https://www.google.com/jsapi'></script>

<div class='page-header'>
  <h3> <%= @user.name %> 
  <span class="label label-primary"><%= @user.class %> </span></h3>
</div>

<ul class="nav nav-tabs nav-append-content" id='profile_tab'>
  <li class='active'><a href='#profile' data-toggle="tab">Profile</a></li>
  <% case @user.class.to_s %>
    <% when "Student" %>
      <li><a href='#score_cards' data-toggle="tab">Score Cards</a></li>
      <li><a href='#authorized' data-toggle="tab">Authorized Adults</a></li>
      <li><a href='#attendance' data-toggle="tab">Attendance</a></li>
    <% when "Volunteer" %>
      <li><a href='#authorized' data-toggle="tab">Students</a></li>
      <li><a href='#attendance' data-toggle="tab">Attendance</a></li>
    <% when "Parent" %>
      <li><a href='#authorized' data-toggle="tab">Children</a></li>
  <% end %>
  <li><a href='#stats' data-toggle="tab">Statistics</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="profile">
    <% if not @user.grade.nil? %> 
    <div class='row'>
    <div class='col-xs-1'>Grade: </div>
    <div class='col-xs-11'> <%= @user.grade %> </div> 
    </div> <% end %>

    <div class='row'>
    <div class='col-xs-1'>ID: </div>
    <div class='col-xs-11'><%= @user.ID_num %></div>
    </div>

    <div class='row'>
    <div class='col-xs-1'>Address: </div>
    <div class='col-xs-11'><%= @user.address %></div>
    </div>

    <div class='row'>
    <div class='col-xs-1'>Phone: </div>
    <div class='col-xs-11'><%= @user.phone %></div>
    </div>

    <div class='row'>
    <div class='col-xs-1'>Email: </div>
    <div class='col-xs-11'><%= @user.email %></div>
    </div>

    <% if not @user.session.nil? %> <div class='row'>
    <div class='col-xs-1'>Session: </div>
    <div class='col-xs-11'><%= @user.session %></div>
    </div> <% end %>

    <% if not @user.specialization.nil? %> <div class='row'>
    <div class='col-xs-1'>Specialization: </div>
    <div class='col-xs-11'><%= @user.specialization %></div>
    </div> <% end %>

    <% if not @user.interest.nil? %> <div class='row'>
    <div class='col-xs-1'>Interests: </div>
    <div class='col-xs-11'><%= @user.interest %></div>
    </div> <% end %>

    <% if not @user.note.nil? %> <div class='row'>
    <div class='col-xs-1'>Notes: </div>
    <div class='col-xs-11'><%= @user.note %></div>
    </div> <% end %>
  </div>
  
  <div class="tab-pane fade" id="score_cards">
    <div class="panel-group" id="accordion">
      <% if current_user.is_a?(Volunteer) %>
        <%= render partial:'score_cards/score_card_form' ,collection: current_user.students, as: :student %>
        <%= will_paginate current_user.students.paginate(page: params[:page])%>
      <% elsif @user.is_a?(Student) %>
        <%= render @user.score_cards%>
        <%= will_paginate @user.score_cards.paginate(page: params[:page])%>
      <% end %>
    </div>
  </div>
  
  <div class="tab-pane fade" id="attendance">
    <div id='calendar'></div>
  </div>
  
  <div class="tab-pane fade" id="authorized">
    <% if @user.is_a?(Parent) %>
      <% users = @user.children %>
    <% elsif @user.is_a?(Student) %>
      <% users = @user.parents %>
    <% elsif @user.is_a?(Volunteer) %>
      <% users = @user.students %>
    <% end %>
    <div class="list-group">
      <%= render partial:'user_list', collection: users, as: :user %>
    </div>
  </div>
  
  <div class="tab-pane fade" id="stats">
    <div class='chart' id='attendances_chart'></div>
    <%= render_chart(@attendance_chart, 'attendances_chart') %>
  </div>
</div>

<script>
$(document).ready(function () {
  flag = false

  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    if(!flag){
      $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title'
        },
        aspectRatio: 2,
        events: [
            <% @attendances.each_with_index do |a, i|%>
              {
                <% if @user.is_a?(Student) %>
                  title: "<%= "Attended and brought work: " << Subject.find(a.subject).name %>",
                <% elsif @user.is_a?(Volunteer) %>
                  title: "Attended",
                <% end %>
                start: new Date("<%= a.dropoff_time %>")
              }<%= i == @attendances.size-1?'':',' %>
            <% end %>
        ]
      });
      flag = true
    }
  })
  
})
</script>
