<%= render 'parent_form' if signed_in? %>
  <div class='page-header'>
    <h3>Hijos de <%= @user.name %></h3>
    <%= link_to "Sign out / Cerrar Sesión ", signout_path, method: "delete", class:'btn btn-danger' %>
  </div>
  <% if @children.any? %>
    <div class='row'>
      <%= render @children %>
    </div>
    <%= will_paginate @children%>
  <% end %>

<script>
  $('[rel=popover]').popover({placement:'bottom', html:true, trigger:'hover'})
  $('[name=signin_button]').click(function(){
    alert('You\'ve Signed In!')
  })
  $('[name=signout_button]').click(function(){
    alert('You\'ve Signed Out!')
  })
</script>