<% provide(:title, @title) %>
<div class='page-header'>
  <h3><%= @user.name %></h3>
</div>
<div class='row'>
  <div class='col-md-3'>
    <%= gravatar_for @user, size:250 %>
  </div>
  <div class='col-md-9'>
      <% if not @user.checked_in? %>
        <%= form_for [@user, Attendance.new] do |f| %>
          <div class='form-group'>
            <label class='control-label'>Work Brought / Trabajo</label>
            <%= collection_select(:student, :subject_id, Subject.all, :id, :name, {}, {class:'form-control'}) %>
            </div>
          <%= f.submit "Check In / Facturar", class: "btn btn-large btn-primary" %>
        <% end %>
      <% else %>
        Already Checked in
      <% end %>
  </div>
</div>
