<% if current_user.admin? %>
  <li>
  <%= gravatar_for parent, size: 52 %>
  <a href='#<%= parent.ID_num %>' data-toggle='modal'><%= parent.name %></a>
  <% if current_user.admin? && !current_user?(parent) %>
    | <%= link_to "delete", parent, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
  </li>
  <div class="modal fade" id='<%= parent.ID_num %>'>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><%= parent.name %></h4>
        </div>
        <div class="modal-body">
          <form class='form-horizontal'>
            <div class='form-group'>
              <label class='control-label col-md-2'>Name</label>
              <div class='col-md-10'>
                <input class='form-control' value='<%= parent.name %>'></input>
              </div>
            </div>
            <div class='form-group'>
              <label class='control-label col-md-2'>ID</label>
              <div class='col-md-10'>
                <input class='form-control' value='<%= parent.ID_num %>'></input>
              </div>
            </div>
            <div class='form-group'>
              <label class='control-label col-md-2'>Phone</label>
              <div class='col-md-10'>
                <input class='form-control' value='<%= parent.phone %>'></input>
              </div>
            </div>
            <div class='form-group'>
              <label class='control-label col-md-2'>Email</label>
              <div class='col-md-10'>
                <input class='form-control' value='<%= parent.email %>'></input>
              </div>
            </div>
            <div class='form-group'>
              <label class='control-label col-md-2'>Address</label>
              <div class='col-md-10'>
                <input class='form-control' value='<%= parent.address %>'></input>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<% end %>